@import url(./vendor/normalize.css);
@keyframes square {
    from {
        transform:rotate(15deg);
    }
    to {
        transform:rotate(360deg);   
    }
}

@keyframes triangle {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    display:flex;
    position:relative;
    background-color:#F2F2F2;
    overflow:hidden;
}
/*Logo Yandex 1*/
.header__logo {
    position:absolute;
    width:183px;
    height:32px;
    top:30px;
    left:64px;
    background-image: url(./images/logo.svg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    z-index:100;
}
/*Научиться учиться 2*/
.header__title {
    position:relative;
    width:730px;
    align-self:center;
    height:auto;
    left:64px;
    font-size:102px;
    line-height:96px;  

}
/*Какие современные...3*/
.header__subtitle {
    position:absolute;
    width:388px;
    bottom:30px;
    left:64px;
    line-height:25px;
    font-size:18px;
    font-style:normal;
    z-index:100;
}
/*Узнать 3...*/
.header__link {
    text-decoration:none;
    line-height:25px;
    font-size:18px;
    font-style:normal;
    position:absolute;
    color:#2F80ED;
}
/*again two 4*/
.header__main-illustration {
    position:absolute;
    width:765px;
    height:608px;
    bottom:0px;
    right:0px;
    background-image: url(./images/two_again.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    z-index:100;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    position:absolute;
    height: 568px;
    width: 568px;
    top:64px;
    right:0px;
    z-index:3;
    background-color:#2F80ED;
    transform:rotate(-15deg);
    animation:square 20s ease infinite;
}
/* вторая часть после 1 страницы */
.description {
    display:flex;
    justify-content: space-around;
}
/*таблица, которая должна оказаться по центру */
.two-columns {
    display:flex;
    width:80%;      
    margin-top:100px;
    justify-content:space-between;
}

.two-columns__brief {    
    width:175px;
    margin:0;
    line-height:1.2;
    font-size:18px;
    font-style:normal;
    color:#2F80ED;
}
/* блок с 3 абзацами */
.two-columns__main-text {
    width:80%;
    min-width:784px;
}

/* aбзацs */
.two-columns__paragraph {
    margin:0;
    line-height:34px;
    font-size:24px;
    font-style:normal;
}

.two-columns__main-text .two-columns__paragraph:nth-child(2) {
    margin:30px 0px;
}


/* это для вывода */
.two-columns__main-text .two-columns__span_accent {
    line-height:34px;
    font-size:24px;
    font-weight:bolder;
}

.technics {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    position:relative;
}

.cards {
    display: flex;
    margin:0px;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width:928px;
}

.cards__item {
    width:240px;
    margin:60px 100px 0 0;
    text-align:center;
}

.cards__item:nth-child(3) {
    margin-right:0px;
}

.cards__image {
    height:160px;
    width:160px;
    margin:0px 40px 43px;
    /*тут делаем "круглую" границу*/
    box-sizing: border-box;
    border-radius: 50%;
}

.cards__title {
    line-height:1.15;
    font-size:24px;
    margin:0px 0px 16px;
}

.cards__description {
    line-height:23px;
    font-size:18px;
    font-style:normal; 
    margin:0px;
}

.video {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    position:relative; 
    max-height:541px;
}

.video__iframes {
    margin:50px 0px 0px;
    display:flex;
    position:relative;
    z-index:100;
    height:316px;
    
}

.video__iframe {
    width:515px;
    height:316px;
    border:0;
}

.video__iframe:nth-child(1) {
    margin:0px 20px 0px 0px;
}

.oakley {
    display:flex;
    justify-content: space-around;
    background-color:#F2F2F2;
}

.oakley__two-columns {
    margin-top:160px;
}

.digits {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    position:relative;
}
/**/
.section-title {
    display:flex;
    width:60%;
    margin-bottom:20px;
    margin-top:100px;
    justify-content:center;   
    line-height:69px;
    font-size:60px;
    font-style:bold; 
}

/*  */
.section-subtitle {
    display:flex;
    width:60%;
    justify-content:center;
    line-height:34px;
    font-size:24px;
    font-style:normal; 
    margin:0;
}
/* big table */
.digits__table {
    display: flex;
    margin:0px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1100px;
    height: auto;
    justify-content: space-between;
    margin-bottom:100px;
}
/* small table */
.table__cell {
    width:250px;
    margin-top:60px;
}
/* how much */
.table__heading {
    margin-bottom:20px;
    line-height:1.15;
    font-size:24px;
    margin:0px;
}
/* text */
.table__text {
    line-height:1.2;
    font-size:18px;
    font-style:normal; 
}

.section-subtitle__text_bank {
    margin:0px;
    line-height:1.2;
    font-size:18px;
    font-style:normal;  
} 

.feinman {
    display:flex;
    height: 790px;
    align-items:center;
    position:relative;  
    flex-direction:column;
    background-color:#F2F2F2;
} 

.feinman__picture {
    height:637px;
    width:837px;
    position:absolute;
    bottom:0px;
    left:0px;
    background-image: url(./images/feinman.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.feinman__title {
    display:flex;
    margin-bottom:70px; 
    align-self:center;
    justify-content:center; 
    width:648px;  
    z-index:100;
    line-height:1.15;
    font-size:120px;
    text-align:center;
    margin:0px;
    margin-top:80px;
} 

.feinman__subtitle {
    align-self:center;
    line-height:51px;
    font-size:36px;
    font-style:normal;
    z-index:100;
    top:50%;
} 

.feinman__link {
    position:absolute;
    top:50%;
    margin:0px;
    right:48px;
    line-height:51px;
    font-size:36px;
    text-decoration:none;
    font-style:normal;
	color:black;
} 

.khan {
    display:flex;
    align-items:center;
    position:relative;  
    flex-direction:column;
    background-color:#F2F2F2;
}

.khan__container {
    margin-top:105px;
    width:80%;
}

.khan__author{
    line-height:42px;
    font-size:30px;
    font-style:normal;
    margin:0px;
}

.khan__title {
    line-height:1.15;
    font-size:60px;
    margin:0px;
}

.khan__quote {
    line-height:34px;
    font-size:24px;
    font-style:normal;
    width:790px;
    margin:50px 0px 36px 0px;
}

.khan__quote-author {
    line-height:1.15;
    font-size:24px;
    margin:0px 0px 10px 0px;
}

.khan__quote-author-subline {
    line-height:1.15;
    font-size:24px;
    font-style:normal;
    margin:0px;
}

.khan__book-container {
    margin-top: 68px;
    display: flex;
    align-items: flex-start;
}
   
.khan__book-pic {
    width: 620px;
    height: 608px;
    margin-right: 20px;
    object-fit:cover;
    object-position:top;
}

.khan__buy-link {
    line-height:42px;
    font-size:30px;
    font-style:normal;
    color:#2F80ED;
    margin-left:20px;
}
   
/* и элемента с модификатором вида ключ-значение */
.kaufman {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    position:relative;
    height:auto;
    background-color:#000000;
    overflow:hidden;
}
/* facts and number*/
.section-title_theme_dark {
    display:flex;
    width:60%;
    margin-top:90px;
    margin-bottom:20px;
    justify-content:center;   
    line-height:69px;
    font-size:60px;
    color:white; 
    z-index:100;
}
/* about */
.section-subtitle_theme_dark {
    display:flex;
    width:60%;
    justify-content:center;
    line-height:34px;
    font-size:24px;
    font-style:normal; 
    color:white; 
    z-index:100;
    margin-bottom:0;
}
/* big table */
.table_theme_dark {
    
    display: flex;
    margin:0px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1100px;
    height: auto;
    justify-content: space-between;
    margin-bottom:90px;
    z-index:100;
}
/* small table */
.table__cell_theme_dark {
    width:200px;
    margin-top:80px;
    color:white; 
}
/* how much */
.table__heading_theme_dark {
    margin-bottom:20px;
    line-height:1.15;
    font-size:24px;
    margin:0px;
    margin-bottom:20px;
    color:white; 
}
/* text */
.table__text_theme_dark {
    line-height:1.2;
    font-size:18px;
    color:white; 
    margin:0px;
}

.kaufman__triangle {
    height:877px;
    width:877px;
    position:absolute;
    top:0px;
    right:-210px;
    background-image: url(./images/triangle.svg);
    background-size:contain;
    z-index:100;
    animation:triangle 20s ease infinite;
}

.resouces {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    position:relative;
    height:auto;
    overflow:hidden;  
}

.resources__logo-zone {
    margin:80px 0px 217px;
    width:1100px;
}

.resource__logo {
    width:270px;
    height:38px;
}

.footer {
    display:flex;
    min-height: 350px;
    background-color:#1F1F1F;
    justify-content:center;
}

.footer__columns {
    display:flex;
    width:90%;
    margin-top:60px;
    margin-bottom:40px;
    justify-content: flex-start;
    justify-content: space-between;
}

.footer__column_content_copyright {
    width:50%;
    color:white; 
    display:flex;
    position:relative;
    flex-direction:column;
    justify-content:space-between;
}

.logo__place_footer {
    position:relative;
    width:183px;
    height:35px;
    background-image: url(./images/logo_white.svg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    z-index:100;
}

.footer__autor {
    position:relative;
    align-self:flex-start;
    line-height:35px;
    font-size:18px;
    font-style:normal;
    margin-bottom:18px;
}

.footer__column-heading {
    line-height:30px;
    font-size:18px;
    font-weight:bold;
    margin-bottom:20px;
	margin-top:0px;
	text-decoration:none;
    color:white; 
}

.footer__column-links {
    color:white;
    display:flex;
    position:relative;
    flex-direction:column;
}

.footer__column_content_info {
    line-height:30px;
    font-size:18px;
    font-weight:normal;
    flex-wrap:wrap;
}

.footer__column_content_social {
    line-height:30px;
    font-size:18px;
    font-weight:normal;
}

a {
    text-decoration:none;
}

.footer__column-links a {
    color:white;
}